.search-dialog::backdrop
{
    background: rgba(29, 37, 45, 0.95);
}

dialog
{
    animation: fade-in;
    animation-duration: 1s;

    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0);
}

.search-dialog-content
{
    width: 500px;

    @media (max-width: 600px)
    {
        width: 300px;
    }

    @media (max-width: 400px)
    {
        width: 300px;
    }
}

.search-dialog-input
{
    padding: 3px;
    width: 100%;
    border-radius: 4px;

    background-color: rgba(255,255,255,0.85);;
    
    &:focus
    {
        background-color: white;
        outline: 0;
    }
}

.search-dialog-button-contanier
{
    display: flex;
    justify-content: end;
    margin-top: 10px;

    button
    {
        border-radius: 8px;
        font-size: 18px;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
        background-color: $dark-2;

        &:hover
        {
            background-color: $orange-1;
        }
    }
}